<table class="table table-bordered">
  <caption>Мои задачи</caption>
  <thead>
    <tr>
      <td>Номер задачи</td>
      <td>Название задачи</td>
      <td>Описание задачи</td>
      <td>Проект</td>
      <td>Назначивший</td>
      <td>Текущий статус и его изменение</td>
    </tr>
  </thead>
  <tbody>
    <% current_user.tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= task.describe %></td>
        <td><%= task.project.name %></td>
        <td><%= task.assigner.email %></td>
        <td>
          <h4>"<%= task.state %>"</h4></br>
          <%= form_tag set_state_event_path do %>
            <%= label_tag("Выберите действие") %>
            <%= select_tag :state_event, options_for_select(task.state_events(&:to_s)) %>
            <%= hidden_field_tag :id, task.id %>
            <button>Изменить</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>