<h2>Проект задачи <%= @task.id %> </h2>
<p> Название: <%= @task.title  %></p>
<p> Описание: <%= @task.describe  %></p>
<p> Исполнитель: <%= @task.executor.email  %></p>
<p> Назначивший задачу: <%= @task.assigner.email  %></p>
