<h2>Проект номер <%= @project.id %> </h2>
<p> Название: <%= @project.name  %></p>
<p> Описание: <%= @project.describe  %></p>
<p> Ответственный: <%= @project.owner.email  %></p>
<h2 class="text-center">Задачи</h2>
<div class="row"> 
  <div class="col-md-2">
    <h4 class="text-center">Созданные</h4>
    <% @project.tasks.state("created").each do |task| %>
      <%= render 'task', task: task %>
    <% end %>
  </div>
  <div class="col-md-2">
    <h4 class="text-center">В работе</h4>
    <% @project.tasks.state("working").each do |task| %>
      <%= render 'task', task: task %>
    <% end %>
  </div>
  <div class="col-md-2">
    <h4 class="text-center">Готовы для тестирования</h4>
    <% @project.tasks.state("for_test").each do |task| %>
      <%= render 'task', task: task %>
    <% end %>
  </div>
  <div class="col-md-2">
    <h4 class="text-center">В тестировании</h4>
    <% @project.tasks.state("testing").each do |task| %>
      <%= render 'task', task: task %>
    <% end %>
  </div>
  <div class="col-md-2">
    <h4 class="text-center">Для доработки</h4>
    <% @project.tasks.state("for_fix").each do |task| %>
      <%= render 'task', task: task %>
    <% end %>
  </div>
  <div class="col-md-2">
    <h4 class="text-center">Законченные</h4>
    <% @project.tasks.state("finished").each do |task| %>
      <%= render 'task', task: task %>
    <% end %>
  </div>
</div>
<p><%= link_to 'Новая задача', new_project_task_path(@project, @project.tasks.build), class: 'btn' %></p>
